/* Added color scheme variables */
:root {
  --deep-jungle-green: #004d40;
  --lush-green: #2e7d32;
  --vibrant-white: #ffffff;
  --vibrant-blue: rgba(28, 59, 184, 0.763);
  --earthy-brown: #5d4037;
  --bright-orange: #f57c00;
  --vivid-pink: #c2185b;
}

html {
  font-size: 62.5%; 
}

/* mini reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--deep-jungle-green);
  font-family: Arial, sans-serif;
  color: var(--vibrant-white)
}

a {
  text-decoration: none;
}


/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--vibrant-white);
  font-size: 2rem;
  background-color: rgba(31, 152, 104, 0.65); /* Choose color */
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 10px;
  color: whitesmoke;
  padding: 0.5vw;
  border-bottom: 3px solid whitesmoke;
  
}

nav a:hover {
  color: var(--vibrant-white);
  background-color: var(--vibrant-blue);
  padding: 1vw;
  border-radius: 1vw;
  border-bottom: none;
}

/* Hero section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0;
}

.hero h2{
  font-size: 3rem;
  margin-right: 5vw;
  color: var(--vibrant-white);
  border-bottom: 3px ridge var(--vibrant-white);
  font-size: 3rem;
  font-weight: 900;
}

.header-hero-container {
  background-image: url('../images/forest-road-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* styling for image */
.avatar {
  max-width: 200px;
  border-radius: 50%;
  border: 3px solid var(--vibrant-blue);
  margin-left: 5vw; 
}

/* About section */
#about, #contact {
  display: flex;
  justify-content: flex-start;
}

#about h2 {
  font-size: 3rem;
  padding: 1vw;
  margin-top: 1vw;
}

#about p {
  width: 100%;
  margin-top: 1vw;
  margin-bottom: 1vw;
  border-left: solid 5px var(--earthy-brown);
  height: 10vw;
  font-size: 2rem;
  margin-left: 1vw; 
}


/* styling for project section */
.projects {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  border-left: solid 5px var(--earthy-brown);
}

.project {
  flex: 1;
  margin: 10px;
  text-align: center;
}

.project-image {
  width: 100%;
  height: auto;
  max-width: 300px;
}

/* work section and projects styling */
#work {
  display: flex;
  align-items: flex-start; /* Add this line */
}

#work h2 {
  font-size: 3rem;
  padding: 1vw;
  margin-top: 1vw;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 1vw; /* Add margin to maintain proper spacing */
}


/* Contact section */
#contact {
  color: var(--vibrant-white);
}

#contact h2 {
  font-size: 3rem;
  padding: 1vw;
  margin-top: 1vw;
}


/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  background-color: var(--vivid-pink);
  border-top: 1px solid #ddd;
  background-color: rgba(31, 152, 104, 0.65);
  height: 10vh;
}


#contact ul {
  margin-bottom: 1vh;
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-top: 1vw;
  padding: 1vw;
  border-left: solid 5px var(--earthy-brown);
  height: 10vw;
}

#contact li {
  display: inline-block;
  padding-left: 2vw;
  padding-right: 2vw;
}

#contact li a{
  font-size: 2rem;
  color: var(--vibrant-white);
  border-bottom: ridge 3px var(--vibrant-white);
}

#contact li a:hover{
  color: var(--vibrant-white);
  background-color: var(--vibrant-blue);
  padding: 1vw;
  border-radius: 1vw;
  border-bottom: none;
}
