/* Added color scheme variables */
:root {
  --deep-jungle-green: #004d40;
  --lush-green: #2e7d32;
  --vibrant-blue: #ffffff;
  --earthy-brown: #5d4037;
  --bright-orange: #f57c00;
  --vivid-pink: #c2185b;
}

html {
  font-size: 62.5%; 
}

/* mini reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--deep-jungle-green);
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}


/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: whitesmoke;
  font-size: 2rem;
  background-color: rgba(31, 152, 104, 0.65); /* Choose color */
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 10px;
  color: whitesmoke;
  padding: 0.5vw;
  border-bottom: 3px solid whitesmoke;
  
}

nav a:hover {
  color: whitesmoke;
  background-color: var(--vibrant-blue);
  padding: 1vw;
  border-radius: 2vw;
}

/* Hero section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0;
}

.hero h2{
  font-size: 3rem;
  margin-right: 5vw;
  color: var(--vibrant-blue);
  border-bottom: 3px ridge var(--vibrant-blue);
  font-size: 3rem;
  font-weight: 900;
}

.header-hero-container {
  background-image: url('../images/forest-road-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* styling for image */
.avatar {
  max-width: 200px;
  border-radius: 50%;
  border: 3px solid var(--vibrant-blue);
  margin-left: 5vw; 
}

/* About section */
#about {
  padding: 40px;
}

/* Work section */
#work {
  padding: 40px;
}
/* styling for project section */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  flex: 1;
  margin: 10px;
  text-align: center;
}

.project-image {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.large {
  max-width: 350px;
}

/* Contact section */
#contact {
  padding: 40px;
  color: var(--bright-orange);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: var(--vivid-pink);
  border-top: 1px solid #ddd;
  background-color: rgba(31, 152, 104, 0.65);
}
  