/* Start */
/* Define custom CSS variables for colors */
:root {
  --teal: #92CCCE;
  --darkgray: #31343D;
  --main-h2-blue: #466087;
  --indent: 50px;
  --main-section-h2: 36px;
}
/* adds a smooth scrolling affect when you click on an in-page link */
html {
  scroll-behavior: smooth;
}

/* sets the font family and background color of the body element */
body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #EEEEF7;
}

/* Set the background color and flex properties for the header */
header {
  background-color: var(--darkgray);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 12.5px;
}

/* Set the font size, background color, and padding for the h1 element */
header h1 {
  font-size: 48px;
  color: var(--darkgray);
  background-color: var(--teal);
  padding-left: 40px;
  padding-right: 15px;
}

/* this code sets the ul children to flex mode */
header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-right: 50px;
}

/* this code fine tunes the position of the li elements */
header nav ul li {
  margin: 20px 7px 0px 0px;
}

/* this code creates a custom underline text decoration by using border bottom combined with padding it also sets the color of the text and removes the normal anchor tag text decoration */
nav li a {
  color: var(--teal);
  font-size: 24px;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: solid 4px var(--teal);
}

/* adds hover styling to our anchor elements */
header nav ul li a:hover {
  background: var(--teal);
  color: var(--darkgray);
  border-radius: 10px;
}

/* this code creates a section for our background image and positions the child element (the h2) within it to be on the bottom right */
.cool-subtitle {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 150px;
  width: 100%;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
}

/* this code provides background color, margin and padding for fine tuning of the position*/
.cool-subtitle h2 {
  color: var(--darkgray);
  background-color: var(--teal);
  margin-right: 90px;
  margin-bottom: 12px;
  padding: 6px;
}

main {
  color: var(--main-h2-blue);
}


/* utility class styling start */
main h2 {
  font-size: 28px;
  text-align: right;
  border-right: 5px solid var(--main-h2-blue);
  width: 10%;
  padding-right: 10px;
}

/* styles about section. Sets the width adds padding and margin and makes child elements flex*/
.about {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 40px;
  width: 90%;

}

/* styles the p element inside of the element with an about class
sets font size, adds padding, margin
*/
.about p {
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px;
}

/* styles teh .work-container class
adds padding and margin
sets flex and justtifies content
aligns items and adds padding and margin
*/
.work-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px 0px;
  margin: 10px 0px;
}


/* styles the card container class
Uses grid and sets up the structure of the grid
adds padding, margin, and width
*/
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; 
  padding: 20px;
  margin: 10px 10px;
  width: 85%;
}

/* This grabs the first child
it sets the grid structure so that the box that this child represents
takes up both of the columns in the first row of the grid structure
*/
.card-container .card:first-child {
  grid-column: 1 / 3; /* This makes the card span both columns */
  height: 400px; /* Increase the height as desired */
}

/* styles the card sections
sets flex, justify content, and align items for positioning of the children elements within each card
sets height, border, and margin - I had trouble positioning these so they are not ideal
*/
.card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border: solid 7px var(--teal);
  height: fit-content;
  margin-top: 0px;
}


/* styles the card-label class 
sets background color, width, height, 
padding, maringin, and align text to the right
*/
.card-label {
  background-color: var(--teal);
  width: 200px;
  height: fit-content;
  padding: 10px 10px;
  margin-bottom: 10px;
  text-align: left;
}

/* Sets the font size of the h3 within the card-labels */
.card-label h3 {
  font-size: 25px;
}

/* sets the font size of the spans within the card-labels */
.card-label span {
  font-size: 15px;
}

/* sets up flex positioning of the .contact class, 
adds padding and margin
*/
.contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0px;
  margin: 10px 0px;
}


/* sets up the flex positioning
removes default bullet point styling of the list items
sets margin on the right
*/
.contact nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin-right: 100px;
}


/* adds margin around the li-s  */
.contact li {
  margin: 25px;
}

/* styles the anchor tags
adds custom bottom border and chages text color
*/
.contact a {
  color: var(--darkgray);
  border-bottom: solid 4px var(--main-h2-blue);
}

/* styled footer
sets height, flex positioning
bakground color, text color, 
adds padding, sets font sizr,
and aligns text to the center
*/
footer {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkgray);
  color: var(--teal);
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

/* this section adds background images to the cards */

#surf-report{
  background-image: url("../images/surf-report.png");
  background-size: cover;
  background-position: center;
}
/* this section adds background images to the cards */
#led-wall{
  background-image: url("../images/led-wall.png");
  background-size: cover;
  background-position: center;
}

/* this section adds background images to the cards */
#calculator{
  background-image: url("../images/calculator.png");
  background-size: cover;
  background-position: center;
}
/* this section adds background images to the cards */
#pastel-puzzels{
  background-image: url("../images/pastel-puzzles.png");
  background-size: cover;
  background-position: center;
}
/* this section adds background images to the cards */
#run-buddy{
  background-image: url("../images/run-buddy.png");
  background-size: cover;
  background-position: center;
}

/* END */
